:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  color: rgb(26, 26, 26);
}
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 0 20px;
  background-color: white;
}
.navigation-box-2 {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.navigation-box-2 a {
  font-size: 23px;
  text-decoration: none;

  margin-right: 50px;
}
body {
  margin: 0;
}
.home {
  background-image: url(/src/Images/image-4.jpg);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  height: 90vh;
  text-align: center;
}
a.call-to-action-btn {
  display: block;
  font-size: 25px;
  text-decoration: none;
  color: white;
  width: 180px;
  margin: auto;
  padding: 10px 0;
  background-color: rgba(62, 62, 62, 0.828);
  transition: 500ms;
}
a.call-to-action-btn:hover {
  background-color: rgba(129, 129, 129, 0.828);
}
.home-cover {
  background-color: rgba(0, 0, 0, 0.359);
  height: 100%;
}

.home h1 {
  padding-top: 240px;
  color: white;
  margin-top: 0;
}

.cart-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px 100px;

  padding: 70px;
}
.cart {
  padding: 30px;
}
.cart-image {
  border-radius: 30px;
  display: block;
  width: 150px;
  height: 150px;
  object-fit: contain;
  margin: auto;
}
.cart-title {
  text-align: center;
  font-size: x-large;
}
.cart-description {
  text-align: justify;
}
.form {
  padding-top: 25px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.cart-input {
  width: 150px;
  height: 25px;
}
