:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
}
* {
  color: rgb(26, 26, 26);
}
/* NAVIGATION BAR */
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 0 20px;
  background-color: white;
}
.navigation-box-2 {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.navigation-box-2 a {
  font-size: 23px;
  text-decoration: none;
  margin-right: 50px;
}

body {
  margin: 0;
}
/* HERO PAGE */
.home {
  background-image: url(/src/Images/image-4.jpg);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  height: 90vh;
  text-align: center;
}
a.call-to-action-btn {
  display: block;
  font-size: 25px;
  text-decoration: none;
  color: white;
  width: 180px;
  margin: auto;
  padding: 10px 0;
  background-color: rgba(62, 62, 62, 0.828);
  transition: 500ms;
}
a.call-to-action-btn:hover {
  background-color: rgba(129, 129, 129, 0.828);
}
.about-cover,
.home-cover {
  background-color: rgba(0, 0, 0, 0.359);
  height: 100%;
}

.home h1 {
  padding-top: 240px;
  color: white;
  margin-top: 0;
}
/* CATEGORY */
.category-label,
.category-input {
  font-size: 20px;
}
.category-input {
  margin-left: 10px;
}
/* CARD COMPONENT*/

.card-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px 100px;
  padding: 70px;
}
.card {
  padding: 30px;
  border-radius: 10px;
  box-shadow: 5px 3px 20px rgb(213, 213, 213);
}
.card-image {
  border-radius: 30px;
  display: block;
  width: 150px;
  height: 150px;
  object-fit: contain;
  margin: auto;
}
.card-title {
  text-align: center;
  font-size: x-large;
}
.card-description {
  text-align: justify;
}
.form {
  padding-top: 25px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.card-input {
  width: 150px;
  height: 25px;
  border-radius: 5px;
  border: 1px solid rgb(191, 191, 191);
  height: 34px;

  font-size: 20px;
}
.add-to-cart-btn {
  width: 130px;
  display: block;
  margin: auto;
  padding: 7px;
  color: #f4f4f4;
  font-size: 20px;
  font-weight: bold;
  background-color: rgb(18, 18, 18);
  border-radius: 5px;
  transition: 500ms;
}
.add-to-cart-btn:hover {
  cursor: pointer;
}
/* SIDEBAR */

/* Style for the sidebar */
.sidebar {
  position: fixed; /* Fixed to the side of the screen */
  top: 0; /* Aligns the top of the sidebar with the top of the screen */
  right: -350px; /* Initially starts off-screen */
  width: 300px;
  height: 100%; /* Entire height of the screen */
  background-color: #f4f4f4;
  padding: 20px;
  transition: right 0.3s ease-in-out; /* Animation for toggling the sidebar */
}

/* When the sidebar is visible */
.sidebar.visible {
  right: 0; /* Moves the sidebar into view */
}

.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.total {
  font-weight: bold;
  font-size: 25px;
}
.checkout-btn {
  width: fit-content;
  display: block;
  margin: auto;
  padding: 10px;
  color: #f4f4f4;
  font-size: 20px;
  font-weight: bold;
  background-color: rgb(18, 18, 18);
  border-radius: 5px;
  transition: 500ms;
}
.checkout-btn:hover,
.add-to-cart-btn:hover {
  background-color: #f4f4f4;
  color: rgb(18, 18, 18);
}
/* ABOUT */
.about-box {
  background-color: white;
  width: 60%;
  margin: auto;
  border-radius: 15px;
  height: 180px;
  padding-top: 20px;
}
.about-box h2 {
  margin-top: 0;
  font-size: 30px;
}
.about-box p {
  font-size: large;
}
.about-cover {
  padding-top: 100px;
}
.about-box a {
  color: rgb(83, 83, 255);
  text-decoration: none;
}
